


$primary: #00ADB5;
$secondary: #787FF6;
$black: #222831;
$dark: #393E46;
$light: #F3EFE0;
$focus: #00696E;
$text-muted: #fff;
$font-family-base: SourceSansPro;
$form-label-font-size: 14px;
$form-label-margin-bottom: 2px;
$btn-close-color: #00ADB5;
$btn-close-disabled-opacity: true;
$btn-close-opacity: 100%;
